@import "custom-properties";

.toggle-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--f-spacer-xs);

    &__btn {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        transition: all 0.2s ease;
        width: var(--f-toggle-btn-width);
        height: var(--f-toggle-btn-height);
        background: var(--f-toggle-btn-background);
        box-shadow: var(--f-toggle-btn-box-shadow);
        //font-size: 11px;
        border: var(--f-toggle-btn-border);
        border-radius: var(--f-toggle-btn-border-radius);
        cursor: pointer;

        /* switch */
        &::before, &::after {
            position: absolute;
            z-index: 2;
            content: "";
            top: 1px;
            left: 1px;
            transition: all 0.2s ease;
            width: var(--f-toggle-btn-switch-size);
            height: var(--f-toggle-btn-switch-size);
            //box-shadow: 0px 2px 2px #aaa;
            background: var(--f-toggle-btn-switch-background);
            box-shadow: var(--f-toggle-btn-switch-box-shadow);
            border: var(--f-toggle-btn-switch-border);
            border-radius: var(--f-toggle-btn-switch-border-radius);
        }

        /* switch content */
        &::after {
            z-index: 3;
            text-align: center;
            content: var(--f-toggle-btn-switch-content-content);
            background: var(--f-toggle-btn-switch-content-background);
            border: none;
            pointer-events: none;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: 50% 50%;
            mask-position: 50% 50%;
            -webkit-mask-size: var(--f-toggle-btn-switch-content-mask-size) var(--f-toggle-btn-switch-content-mask-size);
            mask-size: var(--f-toggle-btn-switch-content-mask-size) var(--f-toggle-btn-switch-content-mask-size);
            -webkit-mask-image: var(--f-toggle-btn-switch-content-mask-image);
            mask-image: var(--f-toggle-btn-switch-content-mask-image);
        }
    }

    &__input {
        position: absolute;
        opacity: 0;

        &:checked + .toggle-btn__btn {
            background: var(--f-toggle-btn-checked-background);
            box-shadow: var(--f-toggle-btn-checked-box-shadow);
            border: var(--f-toggle-btn-checked-border);

            /* switch - checked */
            &::before {
                background: var(--f-toggle-btn-checked-switch-background);
                box-shadow: var(--f-toggle-btn-checked-switch-box-shadow);
                border: var(--f-toggle-btn-checked-switch-border);
                transform: translateX(var(--f-toggle-btn-checked-switch-translate-x));
            }

            /* switch content - checked */
            &::after {
                background: var(--f-toggle-btn-checked-switch-content-background);
                -webkit-mask-image: var(--f-toggle-btn-checked-switch-content-mask-image);
                mask-image: var(--f-toggle-btn-checked-switch-content-mask-image);
                transform: translateX(var(--f-toggle-btn-checked-switch-translate-x));
            }
        }

        &:disabled + .toggle-btn__btn {
            background: var(--f-toggle-btn-disabled-background);
            box-shadow: var(--f-toggle-btn-disabled-box-shadow);
            border: var(--f-toggle-btn-disabled-border);
            cursor: default;
            opacity: var(--f-toggle-btn-disabled-opacity);

            /* switch - disabled */
            &::before {
                background: var(--f-toggle-btn-disabled-switch-background);
                box-shadow: var(--f-toggle-btn-disabled-switch-box-shadow);
                border: var(--f-toggle-btn-disabled-switch-border);
            }

            /* switch content - disabled */
            &::after {
                /*color: #eee;*/
            }

            & + .toggle-btn__label {
                --f-toggle-btn-label-color: var(--f-toggle-btn-label-disabled-color);
            }
        }

        &:disabled:checked + .toggle-btn__btn {
            background: var(--f-toggle-btn-disabled-checked-background);
            border: var(--f-toggle-btn-disabled-checked-border);

            /* switch - disabled and checked */
            &::before {
                background: var(--f-toggle-btn-disabled-checked-switch-background);
                border: var(--f-toggle-btn-disabled-checked-switch-border);
            }
        }

        &:focus + .toggle-btn__btn {
            //background: var(--f-toggle-btn-focus-background);
            box-shadow: var(--f-toggle-btn-focus-box-shadow);
            border: var(--f-toggle-btn-focus-border);

            /* switch - focus */
            &::before {
                //background: var(--f-toggle-btn-focus-switch-background);
                //box-shadow: var(--f-toggle-btn-focus-switch-box-shadow);
                border: var(--f-toggle-btn-focus-switch-border);
            }
        }

        &:focus:checked + .toggle-btn__btn {
            border: var(--f-toggle-btn-focus-checked-border);
        }

        &:not(:disabled):not(:checked):not(:focus):hover + .toggle-btn__btn {
            border: var(--f-toggle-btn-hover-border);

            /* switch - hover */
            &::before {
                border: var(--f-toggle-btn-hover-switch-border);
            }
        }
    }

    &__label {
        color: var(--f-toggle-btn-label-color);
        padding-left: 8px;
    }

    &--invalid {
        --f-toggle-btn-theme-color: #af0a0a;

        --f-toggle-btn-border: 1px solid var(--f-toggle-btn-theme-color);

        //& > input {
        //    &[aria-invalid="true"] {
        //
        //    }
        //}
    }

    &--lg {
        --f-toggle-btn-width: var(--f-toggle-btn-lg-width);
        --f-toggle-btn-height: var(--f-toggle-btn-lg-height);
    }

    &--sm {
        --f-toggle-btn-width: var(--f-toggle-btn-sm-width);
        --f-toggle-btn-height: var(--f-toggle-btn-sm-height);
    }

    &--xs {
        --f-toggle-btn-width: var(--f-toggle-btn-xs-width);
        --f-toggle-btn-height: var(--f-toggle-btn-xs-height);
    }
}
