:root {
    --f-header-height: 96px;
    //--f-header-height: 72px;
    --f-data-layout-cols-padding: 15px;
    --f-card-padding: 40px;
}

@include media-max($bp-menu) {
    :root {
        //--f-header-height: 52px;
        --f-header-height: 60px;
        --f-data-layout-cols-padding: 8px;
        --f-card-padding: 24px;
    }
}
