

$font-family: 'Work Sans', Helvetica, sans-serif;
$theme-color: #1e90ff;
$body-color: #2c3b57;
$body-bg-color: #f7f8fc;
$border-radius: 8px;

$red: #f00;

$button-border-radius: 20px;
$button-mi-border-radius: 12px;
$button-sm-border-radius: 16px;
$button-lg-border-radius: 28px;
$button-font-weight: normal;

//$grid-layout-gutter-width: 2rem;


$bp-menu: 768px;
