@import "fantom-color-palette";

$font-family: 'Work Sans', Helvetica, sans-serif;
$theme-color: $primary-color;
$body-color: $primary-color-darkest;
$body-bg-color: #f7f8fc;
//$body-bg-color: $primary-color-lightest;
$border-radius: 8px;

$fs-h1: $fs24;
$fs-h2: $fs20;
$fs-h3: $fs18;
$fs-h4: $fs16;
$fs-h5: $fs16;
$fs-h6: $fs16;
$ma-h1: 0 0 1.25rem 0;
$ma-h2: 0 0 1.25rem 0;
$ma-h3: 0 0 1rem 0;
$ma-h4: 0 0 1rem 0;
$ma-h5: 0 0 1rem 0;
$ma-h6: 0 0 1rem 0;

$link-color: $theme-color;

$button-border-radius: 20px;
$button-mi-border-radius: 12px;
$button-sm-border-radius: 16px;
$button-lg-border-radius: 28px;
$button-font-weight: normal;

//$grid-layout-gutter-width: 2rem;


$bp-menu: 768px;
