@import "fantom-color-palette";

//$font-family: 'Work Sans', Helvetica, sans-serif;
$font-family: WorkSans, Helvetica, sans-serif;
$font-family-proxima: "proxima-nova", Helvetica, sans-serif;
//$font-family-proxima: ProximaNova, Helvetica, sans-serif;
$font-size: 16px;
$theme-color: $primary-color;
$body-color: #2B3954;
$body-bg-color: #fbfcff;
//$body-bg-color: $primary-color-lightest;
$border-radius: 8px;
$headings-font-weight: bold;

$fs-h1: 31px;
$fs-h2: 21px;
$fs-h3: $fs18;
$fs-h4: $fs16;
$fs-h5: $fs16;
$fs-h6: $fs16;
$ma-h1: 0 0 1.25rem 0;
$ma-h2: 0 0 1.25rem 0;
$ma-h3: 0 0 1rem 0;
$ma-h4: 0 0 1rem 0;
$ma-h5: 0 0 1rem 0;
$ma-h6: 0 0 1rem 0;

$link-color: $theme-color;

$button-border-radius: 20px;
$button-mi-border-radius: 12px;
$button-sm-border-radius: 16px;
$button-lg-border-radius: 28px;
$button-font-weight: normal;

//$grid-layout-gutter-width: 2rem;

$bp-menu: 768px;

// css variables
$f-header-height: var(--f-header-height);
$f-data-layout-cols-padding: var(--f-data-layout-cols-padding);
$f-data-layout-cols-padding-neg: calc(-1 * var(--f-data-layout-cols-padding));
$f-card-padding: var(--f-card-padding);
