@import "vars";
@import "core/normalize";
@import "core/reset";
@import "core/all";

//@include flexbox-layout(24);

//@include media-max($bp-menu) {

:root {
    --f-header-height: 72px;
}

@include links() {
    text-decoration: none;
}

a:not(.btn):hover {
    text-decoration: underline;
}

@include links('', '.no-effect') {
    color: inherit;
    text-decoration: none;
}

.three-dots {
    @include zpe-three-dots;
}

.break-word {
    word-break: break-word;
}

.f-data-layout {
    color: #000;

    .f-row-label {
        color: #666;
        font-weight: bold;
        /*font-style: italic;*/
    }
}

@include media-max($bp-menu) {
    :root {
        //--f-header-height: 52px;
        --f-header-height: 60px;
    }
}
