@import "vars";
@import "core/normalize";
@import "core/reset";
@import "core/all";

//@include flexbox-layout(24);

//@include media-max($bp-menu) {

:root {
    --f-header-height: 72px;
}

@include links() {
    text-decoration: none;
}

a:not(.btn):hover {
    text-decoration: underline;
}

.three-dots {
    @include zpe-three-dots;
}

.break-word {
    word-break: break-word;
}

@include media-max($bp-menu) {
    :root {
        --f-header-height: 48px;
    }
}
