.f-pagination {
    display: inline-block;

    .pages {
        display: inline-block;
        vertical-align: middle;
        padding: 0 16px;
    }

    button {
        margin-inline-end: 4px;

        &:last-child {
            margin-inline-end: 0;
        }
    }
}
