@import "custom-properties";

.f-tabs {
    ul {
        display: flex;
        list-style-type: none;
        border-bottom: var(--f-tabs-border-width) solid var(--f-tabs-border-color);
        overflow: hidden;
        overflow-x: auto;

        li {
            position: relative;
            top: var(--f-tabs-border-width);
            padding: 8px 16px;
            cursor: pointer;
            white-space: nowrap;
        }
    }

    &:not(.no-style) {
        ul {
            li {
                //border-radius: 8px 8px 0 0;
                //background-color: #f4f4f4;
                //margin-inline-end: 1px;
                color: var(--f-tabs-color);
                font-family: var(--f-tabs-font-family);
                font-size: var(--f-tabs-font-size);
                font-weight: var(--f-tabs-font-weight);
                border-bottom: var(--f-tabs-border-width) solid var(--f-tabs-border-color);

                &:hover, &:focus {
                    //background-color: #ddd;
                    color: var(--f-tabs-hover-color);
                    border-bottom-color: var(--f-tabs-hover-border-color);
                }

                &[aria-selected="true"] {
                    color: var(--f-tabs-active-color);
                    border-bottom-color: var(--f-tabs-active-color-border-color);
                }

                &[aria-disabled="true"] {
                    color: var(--f-tabs-disabled-color);
                    border-bottom-color: var(--f-tabs-disabled-border-color);
                    cursor: default;
                }
            }
        }
    }

    .f-tabs-panels {
        padding-top: 16px;
        //padding: 16px;
    }
}
