@import "../variables";

$f-tabs-color: inherit !default;
$f-tabs-color-active: $theme-color !default;
$f-tabs-color-disabled: #ddd !default;

$f-tabs-font-weight: inherit !default;

$f-tabs-border-width: 1px !default;
$f-tabs-border-color: #eee !default;
$f-tabs-border-hover-color: #666 !default;
$f-tabs-border-disabled-color: transparent !default;
