.f-crypto-symbol {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-inline-end: 8px;
    font-weight: bold;

    .img {
        //display: inline-block;
        //vertical-align: middle;
        //overflow: hidden;
        margin-inline-end: 8px;

        img, svg {
            width: auto;
            height: auto;
            max-height: 100%;
            display: block;
        }
    }
}
