@import "../variables";

$f-window-border-radius: 20px !default;
$f-window-background: #fff !default;

$f-window-popover-font-size: 1em !default;
$f-window-popover-color: #f4f4f4 !default;
$f-window-popover-border-radius: 4px !default;
$f-window-popover-background: #333 !default;
$f-window-popover-box-shadow: $elev8-shadow !default;

$f-window-padding: 24px !default;
$f-window-popover-padding: 16px !default;

$f-window-header-padding: $f-window-padding !default;
$f-window-header-background: none !default;
//$f-window-header-border-radius: $f-window-padding $f-window-padding 0 0 !default;

$f-window-body-padding-with-header: 0 $f-window-padding $f-window-padding $f-window-padding !default;
$f-window-body-padding: $f-window-padding !default;
$f-window-body-background: none !default;
$f-window-popover-body-padding: $f-window-popover-padding / 2 $f-window-popover-padding !default;
$f-window-popover-body-padding-with-header: 0 $f-window-popover-padding $f-window-popover-padding $f-window-popover-padding !default;

$f-window-footer-padding: $f-window-padding !default;
$f-window-footer-background: none !default;
$f-window-popover-footer-padding: $f-window-popover-padding !default;
