@import "variables";

.f-input {
    display: inline-block;
    vertical-align: middle;

    .inp {
        display: flex;
        align-items: center;
        align-content: center;

        input, textarea {
            color: inherit;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            background: none;
            padding: 0;
            border: none;

            &:focus {
                box-shadow: none;
                outline: none;
            }

            &:invalid {
                box-shadow: none;
                outline: none;
                border: none;
            }
        }
    }

    &.is-textarea {
        .inp {
            height: auto;
        }
    }

    &.prefix-slot {
        .inp {
            padding-inline-start: 0.25rem;

            input {
                padding-inline-start: 0.5rem;
            }
        }
    }

    &.suffix-slot {
        .inp {
            padding-inline-end: 0.25rem;

            input {
                padding-inline-end: 0.5rem;
            }
        }
    }
}
